@import './colors.scss';

.userForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 500px;
    margin: auto;
    position: relative;
    padding: 24px;
    background-color: $gray;
    border: 1px solid $dark-aqua;
    border-radius: 8px;

    * {
        display: block;
        width: 100%;
    }

    .close-btn {
        color: $red;
        position: absolute;
        width: 16px;
        right: 8px;
        top: 8px;
    }

    h1 {
        background: -webkit-linear-gradient(90deg, rgba(34,40,49,1) 10%, rgba(0,173,181,1) 30%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 36px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .btn {
        margin-top: 24px;
        width: 45%;
    }

    .smart-text {
        font-size: .6rem;
        color: #A1A1A1;
        position: absolute;
        bottom: 0;
        letter-spacing: 1px;
        text-align: center;
    }
}

@media (min-width: 1000px) {
    .form-container {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
    }
}
