@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import './colors.scss';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #222831;
    font-family: 'Roboto', sans-serif;
}

input {
    font-size: 1.1rem;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $aqua;
    margin-top: 24px;
    margin-bottom: 4px;
    color: $white;
    padding: 4px;

    &::placeholder {
        color: #A7A7A7;
    }
}

input:focus {
    background-color: transparent;
    outline: none;
}

input[type=password] {
    letter-spacing: 2px;

    &::placeholder {
        letter-spacing: 0;
    }

    &:-ms-input-placeholder {
        letter-spacing: 0;
    }

    &::-ms-input-placeholder {
        letter-spacing: 0;
    }
    
}

a {
    text-decoration: none;
    color: $aqua;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1600px;
}

.btn {
    cursor: pointer;
    background-color: $gray;
    background: rgba(34, 40, 49, .3);
    border: 1px solid $aqua;
    border-radius: 4px;
    padding: 8px;
    color: $white;
    
}

.btn:active,
.btn:hover {
    background-color: $aqua;
    color: $gray;
}