@import '../../Assets/Styles/colors.scss';

header {
    height: 100px;
    width: 100%;
    background: $gray;
    border-bottom: 2px solid $aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        margin-inline: 16px;
        width: 80px;
    }

    .links {
        font-size: 1.5rem;
        text-transform: uppercase;     
        font-weight: 100;  

        a {
            color: $aqua;
            padding-inline: 8px;
            transition: all 0.1s;
        }

        a:hover,
        a:focus {
            border-bottom: 1px solid $aqua;
        }

        a:not(:last-child) {
            border-right: 1px solid $dark-aqua;
        }
    }

    .user-section {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 1.25rem;

        .register-link {
            padding: 4px 8px;
            border: 1px solid $aqua;
        }

        .register-link:hover,
        .register-link:active {
            color: $gray;
            background-color: $aqua;
        }

        .exit {
            color: $red;
            border-left: 1px solid $red;
            padding: 4px 8px;
            transition: all 0.2s;
        }

        .exit:hover,
        .exit:active {
            color: $gray;
            background-color: $red;
        }
    }
}